# Datenbankprogrammierung

**Was ist ein Cursor? Definieren Sie das Konzept in Ihren eigenen Worten.**
  
**Aus welchem Grund (warum) und zu welchem Zweck (wozu) braucht man Cursors?**

**Wozu werden Datenbanksprachen in andere Sprachen eingebettet?**

**Was ist der Unterschied zwischen objektorientierten und objektrelationalen Datenbanken?**

**Was ist ein Surrogat?, und was hat es mit Objektorientierung zu tun?**

**Was ist das NF2 Modell? Was ist der Zusammenhang von NF2 mit der Objektorientierung?**

**Was ist objekt-relationales Mapping, und was sind die Vorteile?**

In [1]:
%load_ext sql


## Jupyter Setup

Um dieses Jupyter Notebook zu gebrauchen sollten folgende extensions
installiert werden:

- https://github.com/SpencerPark/IJava
- https://github.com/catherinedevlin/ipython-sql

## Datenbank Setup

Als erstes sollte [mysel installiert sein](https://support.rackspace.com/how-to/install-mysql-server-on-the-ubuntu-operating-system/).

Die Datenbank kann folgendermassen aufgesetzt werden:

```sh
sudo mysql < uni-schema.sql
sudo mysql uni4 < uni-daten.sql
```

In [2]:
%sql mysql://uniuser:password@localhost/uni4

'Connected: uniuser@uni4'

In [3]:
%%sql

select * from Studenten;

 * mysql://uniuser:***@localhost/uni4
8 rows affected.

[(24002, 'Xenokrates', 18),
 (25403, 'Jonas', 12),
 (26120, 'Fichte', 10),
 (26830, 'Aristoxenos', 8),
 (27550, 'Schopenhauer', 6),
 (28106, 'Carnap', 3),
 (29120, 'Theophrastos', 2),
 (29555, 'Feuerbach', 2)]

In [2]:
%maven mysql:mysql-connector-java:8.0.19

import java.sql.Statement;
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.ResultSet;

In [3]:
Connection connection = DriverManager.getConnection(
    "jdbc:mysql://localhost:3306/uni4?&serverTimezone=Europe/Zurich",
    "uniuser", 
    "password"
);

In [4]:
ResultSet professorResultset = connection.createStatement().executeQuery("SELECT * FROM Professoren");
while (professorResultset.next()) {
    System.out.println(professorResultset.getString(2));
}

Sokrates
Russel
Kopernikus
Popper
Augustinus
Curie
Kant

In [ ]:
ResultSet professorResultset = connection.createStatement().executeQuery("SELECT * FROM Professoren");
while (professorResultset.next()) {
    ResultSet 
    
    System.out.println(professorResultset.getString(2));
}